@page "/"
@inject CookieService CookieService
@rendermode InteractiveServer

<h3>Välj tema</h3>
<button class="btn btn-dark" @onclick="@(() => SetTheme("dark"))">Mörkt tema</button>
<button class="btn btn-light" @onclick="@(() => SetTheme("light"))">Ljust tema</button>
<br />
Current Theme: @CurrentTheme

@if (!string.IsNullOrEmpty(CurrentTheme))
{
    <p>Aktivt tema: <strong>@CurrentTheme</strong></p>
}

@code {
    private string? CurrentTheme = "";

    protected override void OnInitialized()
    {
        CurrentTheme = CookieService.GetCookie("theme");
    }

    private void SetTheme(string theme)
    {
        CookieService.SetCookie("theme", theme, 60); // spara i 60 minuter
        CurrentTheme = theme;
    }
}
